<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta content="text/html" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>User</title>

    <style>

        .buttonAdd {
            color: black;
            cursor: pointer;
            background-color: darkseagreen;
            border-radius: 12px;
        }

        div {
            margin: 10px;
        }
    </style>

</head>
<body>

<section>
    <form th:action="@{/order}" th:method="post">
        <fieldset>
            <div>
                <div>
                    <label for="name">Name</label>
                    <input id="name" name="name" type="text"/>
                </div>
                <div>
                    <label for="type">Type</label>
                    <select id="type" name="type">
                        <option value="liquids"> liquids</option>
                        <option value="countable">countable</option>
                    </select>
                </div>
                <div id="choiceSelect">
                    <label for="count">Count</label>
                    <input id="count" name="count"/>
                </div>
                <div>
                    <button class="buttonAdd" type="submit">Save</button>
                </div>
            </div>
        </fieldset>
    </form>
</section>

<footer>
    <hr/>
    <p>&copy;Created by Artsiom Prokharau 2021</p>
</footer>


</body>
<script>
    let choice = document.getElementById('type').value;
    if (choice === "liquids") {
        document.getElementById('choiceSelect').innerHTML = `
                       <label for="volume" >Volume(ml)</label>
                       <input id="volume" name="volume"/>`;
    }
</script>

</html>
